<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="console" target="SYSTEM_OUT">
      <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
      <ThresholdFilter level="debug" onMatch="ACCEPT"
                       onMismatch="DENY" />
      <PatternLayout
          pattern="[%-5level] - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Root level="error" additivity="false">
      <AppenderRef ref="console"/>
    </Root>
    <Logger name="me.aias" level="error" additivity="false">
      <AppenderRef ref="console"/>
    </Logger>
  </Loggers>
</Configuration>
