3_audio_sdks/ndarray_audio_sdk/.idea/
3_audio_sdks/ndarray_audio_sdk/target/
3_audio_sdks/asr_long_audio_sdk/.idea/
3_audio_sdks/asr_long_audio_sdk/models/
1_image_sdks/text_recognition/ocr_sdk/.idea/
1_image_sdks/text_recognition/.idea/
1_image_sdks/security/pedestrian_sdk/.idea/
.idea/
1_image_sdks/ocr_v4_sdk/models/
1_image_sdks/ocr_v4_sdk/target/
1_image_sdks/pedestrian_sdk/target/
1_image_sdks/pedestrian_sdk/models/pedestrian.zip
1_image_sdks/ocr_sdks/ocr_layout_sdk/models/
1_image_sdks/ocr_sdks/ocr_led_sdk/models/
1_image_sdks/ocr_sdks/ocr_table_sdk/models/
1_image_sdks/ocr_sdks/ocr_v4_sdk/models/
1_image_sdks/ocr_sdks/ocr_v3_sdk/models/
1_image_sdks/ocr_sdks/ocr_direction_det_sdk/models/
1_image_sdks/crowd_sdk/models/
1_image_sdks/crowd_sdk/target/
1_image_sdks/crowd_sdk/build/output/
1_image_sdks/ocr_sdks/ocr_v4_sdk/target/
1_image_sdks/ocr_sdks/ocr_v3_sdk/target/
1_image_sdks/face_sdks/face_alignment_sdk/models/
1_image_sdks/face_sdks/face_detection_sdk/models/
1_image_sdks/face_sdks/face_feature_ir101_sdk/models/
1_image_sdks/face_sdks/face_feature_sdk/models/
1_image_sdks/face_sdks/face_restoration_sdk/models/
1_image_sdks/face_sdks/face_sr_sdk/models/
3_audio_sdks/asr_whisper_long_sdk/models/whisper/
3_audio_sdks/asr_whisper_sdk/models/whisper/
9_desktop_app/desktop_app_ocr/ocr_sdk/target/
9_desktop_app/desktop_app_ocr/electron_app_ocr/node_modules/
9_desktop_app/desktop_app_upscale/realesrgan_ncnn/realesrgan_ncnn_macos/
9_desktop_app/desktop_app_upscale/realesrgan_ncnn/realsr-ncnn-vulkan-windows/
