3_audio_sdks/ndarray_audio_sdk/.idea/
3_audio_sdks/ndarray_audio_sdk/target/
3_audio_sdks/asr_long_audio_sdk/.idea/
3_audio_sdks/asr_long_audio_sdk/models/
1_image_sdks/text_recognition/ocr_sdk/.idea/
1_image_sdks/text_recognition/.idea/
1_image_sdks/security/pedestrian_sdk/.idea/
.idea/
1_image_sdks/ocr_v4_sdk/models/
1_image_sdks/ocr_v4_sdk/target/
1_image_sdks/pedestrian_sdk/target/
1_image_sdks/pedestrian_sdk/models/pedestrian.zip
1_image_sdks/ocr_sdks/ocr_layout_sdk/models/
1_image_sdks/ocr_sdks/ocr_led_sdk/models/
1_image_sdks/ocr_sdks/ocr_table_sdk/models/
1_image_sdks/ocr_sdks/ocr_v4_sdk/models/
1_image_sdks/ocr_sdks/ocr_v3_sdk/models/
1_image_sdks/ocr_sdks/ocr_direction_det_sdk/models/
1_image_sdks/crowd_sdk/models/
1_image_sdks/crowd_sdk/target/
1_image_sdks/crowd_sdk/build/output/
1_image_sdks/ocr_sdks/ocr_v4_sdk/target/
1_image_sdks/ocr_sdks/ocr_v3_sdk/target/
1_image_sdks/face_sdks/face_alignment_sdk/models/
1_image_sdks/face_sdks/face_detection_sdk/models/
1_image_sdks/face_sdks/face_feature_ir101_sdk/models/
1_image_sdks/face_sdks/face_feature_sdk/models/
1_image_sdks/face_sdks/face_restoration_sdk/models/
1_image_sdks/face_sdks/face_sr_sdk/models/
3_audio_sdks/asr_whisper_long_sdk/models/whisper/
3_audio_sdks/asr_whisper_sdk/models/whisper/
9_desktop_app/desktop_app_ocr/ocr_sdk/target/
9_desktop_app/desktop_app_ocr/electron_app_ocr/node_modules/
9_desktop_app/desktop_app_upscale/realesrgan_ncnn/realesrgan_ncnn_macos/
9_desktop_app/desktop_app_upscale/realesrgan_ncnn/realsr-ncnn-vulkan-windows/
9_desktop_app/desktop_app_upscale/electron_app_upscale/node_modules/
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-large.pt
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-tiny.pt
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-large.pt.baiduyun.uploading.cfg
1_image_sdks/seg_sam2_sdk/target/
1_image_sdks/seg_unet_sdk/target/
7_aigc/java_stable_diffusion_sdks/txt2image_sdk/target/
7_aigc/java_stable_diffusion_sdks/txt2image_sdk/models/pytorch_gpu/
2_nlp_sdks/translation/trans_nllb_sdk/target/
2_nlp_sdks/translation/trans_nllb_sdk/models/tokenizer.json
2_nlp_sdks/translation/trans_nllb_sdk/models/traced_translation_cpu.pt
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-tiny-gpu.pt
2_nlp_sdks/translation/trans_nllb_sdk/models/traced_translation_gpu.pt
7_aigc/java_stable_diffusion_sdks/txt2image_sdk/models/pytorch/Download and put model here.md
7_aigc/java_stable_diffusion_sdks/txt2image_sdk/models/pytorch_cpu/Download and put model here.md
1_image_sdks/fire_smoke_sdk/target/
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-large-gpu.pt
1_image_sdks/fire_smoke_sdk/models/fire_smoke.zip
4_video_sdks/camera_sdk/models/fire_smoke.zip
4_video_sdks/camera_sdk/target/
4_video_sdks/mp4_sdk/models/fire_smoke.zip
4_video_sdks/mp4_sdk/target/
archive/4_video_sdks/mp4_facemask_sdk/models/face_detection.zip
archive/4_video_sdks/mp4_facemask_sdk/models/face_mask.zip
archive/4_video_sdks/mp4_facemask_sdk/target/
1_image_sdks/smart_construction_sdk/target/
1_image_sdks/smart_construction_sdk/models/helmet_head_person_s.zip
6_web_app/ocr_web_app/ocr_backend/models/
6_web_app/ocr_web_app/ocr_ui/node_modules/
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-large-decoder.onnx
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-large-encoder.onnx
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-tiny-decoder.onnx
1_image_sdks/seg_sam2_sdk/models/sam2-hiera-tiny-encoder.onnx
archive/1_image_sdks/seg_sam2_sdk/models/sam2-hiera-large.pt
archive/1_image_sdks/seg_sam2_sdk/models/sam2-hiera-tiny.pt
archive/1_image_sdks/seg_sam2_sdk/target/
0_tutorials/python/sam2_export/sam2-hiera-large-decoder.onnx
0_tutorials/python/sam2_export/sam2-hiera-large-encoder.onnx
0_tutorials/python/sam2_export/sam2-hiera-large/sam2-hiera-large.pt
0_tutorials/python/sam2_export/sam2-hiera-large/serving.properties
0_tutorials/python/sam2_export/sam2-hiera-tiny/sam2-hiera-tiny.pt
0_tutorials/python/sam2_export/sam2-hiera-tiny/sam2-hiera-tiny_all.pt
0_tutorials/python/sam2_export/sam2-hiera-tiny/serving.properties
6_web_app/image_seg_sam2/ocr_backend/target/
6_web_app/image_seg_sam2/sam2_backend/target/
6_web_app/image_seg_sam2/sam2_ui/node_modules/
6_web_app/iocr/ocr_backend/target/
6_web_app/image_seg/image_backend/target/
6_web_app/image_seg/image_ui/node_modules/
6_web_app/image_seg/image_backend/models/
6_web_app/image_search/mini_image_search/image_search/models/
6_web_app/image_search/mini_image_search/image_search/target/
6_web_app/image_search/mini_image_search/image_search_ui/node_modules/
1_image_sdks/face_sdks/face_detection_sdk/target/
